@model YuShang.ERP.Entities.Orders.ProductItem
@{
    ViewBag.Title = "采购收货与索赔";
}
<div class="right_content_top">
    <form id="filter_form">
        <span class="eta ml20">订单日期</span>
        <span class="eta_in"><input type="text" class="easyui-datebox" name="OrderCreateTimeFrom" /></span>
        <span class="eta_in"><input type="text" class="easyui-datebox" name="OrderCreateTimeTo" /></span>
        <div class="search mr15">
            <input value="请输入单据号或供应商或备注" name="filterValue" type="text" onfocus="if (this.value == '请输入单据号或供应商或备注') this.value = '';" onblur="    if (this.value == '') this.value = '请输入单据号或供应商或备注';" />
            <button type="submit">查询</button>
        </div>
    </form>
</div>

<div class="ddgl clearf calculate">
    @*datagrid*@
    <script>
        function func_operation_formatter(value, row, index) {
            var temp = '';
            temp += '<a href="javascript:;" class="audit" onclick="receive_row(' + index + ')">收货</a>';
            temp += '&nbsp;&nbsp;&nbsp;&nbsp;';
            temp += '<a href="javascript:;" class="audit" onclick="compensate_row(' + index + ')">索赔</a>';
            return temp;
        }
    </script>

    <div style="margin:15px;" id="cgjdsh">
        <table id="my_datagrid" class="" title=""
               data-options="rownumbers:true,pagination:true,singleSelect:true,url:'/@ViewContext.RouteData.Values["Area"].ToString()/@ViewContext.RouteData.Values["Controller"].ToString()/Index',method:'post'">
            <thead>
                <tr data-options="height:120">
                    <th data-options="field:'Product.ProductKey',width:150,algin:'center',formatter:easyui_field_formatter">@Html.Label("ProductKey")</th>
                    <th data-options="field:'Product.ProductFullName',width:200,algin:'center',formatter:easyui_field_formatter">@Html.LabelFor(m => m.Product.ProductFullName)</th>
                    <th data-options="field:'Product.Specification',width:150,align:'center',formatter:easyui_field_formatter">@Html.LabelFor(m => m.Product.Specification)</th>
                    <th data-options="field:'Product.Packing',width:150,align:'center',formatter:easyui_field_formatter">@Html.LabelFor(m => m.Product.Packing)</th>
                    <th data-options="field:'Product.Units',width:150,align:'center',formatter:easyui_field_formatter">@Html.LabelFor(m => m.Product.Units)</th>
                    <th data-options="field:'Quantity',width:150,align:'center'">@Html.LabelFor(m => m.Quantity)</th>
                    <th data-options="field:'NetWeight',width:150,align:'center'">@Html.LabelFor(m => m.NetWeight)</th>
                    <th data-options="field:'UnitPrice',width:150,align:'center'">@Html.LabelFor(m => m.UnitPrice)</th>
                    <th data-options="field:'Quantity',width:150,align:'center'">@Html.LabelFor(m => m.Currency)</th>
                    <th data-options="field:'OrderContractKey',width:150,align:'center'">@Html.LabelFor(m => m.OrderContractKey)</th>
                    <th data-options="field:'CaoZuo',width:150,align:'center',formatter:func_operation_formatter">操作</th>
                </tr>
            </thead>
        </table>
    </div>
    @*索赔弹出层*@
    <div id="compensate_dialog" class="easyui-dialog" style="width:510px;height:398px;padding:10px 20px;" data-options="modal:true,closed:true" buttons="#compensate_dialog_bottons">
        <div style="padding:10px 0px;">
            <form>
                <input type="hidden" name="ProductItemId" />
                <input type="hidden" name="OrderContractKey" />
                <p>
                    <label>索赔币种</label>
                    <select name="Currency" style="width:100px;">
                        <option>美元</option>
                        <option>港元</option>
                        <option>人民币</option>
                    </select>
                </p>
                <p>
                    <label>索赔金额</label>
                    <input type="text" name="Compensation" />
                </p>
                <p>
                    <label>索赔原因</label>
                    <input type="text" name="CompensationReason" />
                </p>
                <p>
                    <label>采购索赔产生的阶段</label>
                    <select name="CompensationHappenedType">
                        <option value="0">未知</option>
                        <option value="1">港口代理</option>
                        <option value="2">香港物流</option>
                        <option value="3">内地物流</option>
                        <option value="4">入仓</option>
                    </select>
                </p>
            </form>
        </div>
    </div>
    <div id="compensate_dialog_bottons">
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="javascript: $('#compensate_dialog form').submit();">确定</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="javascript: closeDialog('#compensate_dialog');">取消</a>
    </div>
    @*收货弹出层*@
    <div id="receive_dialog" class="easyui-dialog" style="width:510px;height:398px;padding:10px 20px;" data-options="modal:true,closed:true" buttons="#receive_dialog_bottons">
        <div style="padding:10px 0px;">
            <form>
                <input type="hidden" name="ProductItemId" />
                <input type="hidden" name="OrderContractKey" />
                <p>
                    <label>收货日期</label>
                    <input type="text" class="easyui-datebox" name="ReceiveTime" />
                </p>
                <p>
                    <label>状态</label>
                    <select name="Status">
                        <option value="@YuShang.ERP.Entities.Orders.ProductItemStatus.NotReceived.ToString()">未收货</option>
                        <option value="@YuShang.ERP.Entities.Orders.ProductItemStatus.Received.ToString()">已收货</option>
                    </select>
                </p>
                <p>
                    <label>备注</label>
                    <textarea name="Comments" cols="33" rows="2"></textarea>
                </p>          

            </form>
        </div>
    </div>
    <div id="receive_dialog_bottons">
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="javascript: $('#receive_dialog form').submit();">确定</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="javascript: closeDialog('#receive_dialog');">取消</a>
    </div>
</div>

@section scripts{
    <script>
        function receive_row(index) {
            var row = get_datagrid_row_by_index(index);
            $('receive_dialog form').form('reset')
            $('#receive_dialog form :hidden[name="ProductItemId"]').val(row.ProductItemId);
            $('#receive_dialog form :hidden[name="OrderContractKey"]').val(row.OrderContractKey);
            $('#receive_dialog').dialog('open').dialog('setTitle', '收货');
        }
        function compensate_row(index) {
            var row = get_datagrid_row_by_index(index);
            $('#compensate_dialog form').form('reset')
            $('#compensate_dialog form :hidden[name="ProductItemId"]').val(row.ProductItemId);
            $('#compensate_dialog form :hidden[name="OrderContractKey"]').val(row.OrderContractKey);
            $('#compensate_dialog').dialog('open').dialog('setTitle', '索赔');
        }
        $(function () {
            //提交索赔
            var validateOptions = get_validate_rules_messages('#compensate_dialog form');
            $('#compensate_dialog form').validate({
                rules: validateOptions.rules,
                messages: validateOptions.messages,
                submitHandler: function (form) {
                    $.ajax({
                        url: '/' + Area + '/' + Controller + '/AddCompensate',
                        type: 'post',
                        data: $('#compensate_dialog form').serialize(),
                        dataType: 'json',
                        beforeSend: function () {
                            $.messager.progress({
                                title: '',
                                msg: '处理中...'
                            });
                        },
                        success: function (resp) {
                            $.messager.progress('close');
                            var messages = GetModelStateErrors(resp);
                            if (messages.length > 0) {
                                $.messager.alert('提示', messages.join('\n'));
                            } else {
                                $.messager.alert('提示', '操作成功');
                                $('#compensate_dialog').dialog('close')
                                $('#my_datagrid').datagrid('reload');
                            }
                        }
                    });
                }
            });

            //提交收货
            var validateOptions2 = get_validate_rules_messages('#receive_dialog form');
            $('#receive_dialog form').validate({
                rules: validateOptions2.rules,
                messages: validateOptions2.messages,
                submitHandler: function (form) {
                    $.ajax({
                        url: '/' + Area + '/' + Controller + '/DoReceive',
                        type: 'post',
                        data: $('#receive_dialog form').serialize(),
                        dataType: 'json',
                        beforeSend: function () {
                            $.messager.progress({
                                title: '',
                                msg: '处理中...'
                            });
                        },
                        success: function (resp) {
                            $.messager.progress('close');
                            var messages = GetModelStateErrors(resp);
                            if (messages.length > 0) {
                                $.messager.alert('提示', messages.join('\n'));
                            } else {
                                $.messager.alert('提示', '操作成功');
                                $('#receive_dialog').dialog('close')
                                $('#my_datagrid').datagrid('reload');
                            }
                        }
                    });
                }
            });


        });


    </script>
}