@model AtlanticDX.ERP.Areas.Finances.Models.FinancialRecordViewModel
@{
    ViewBag.Title = "财务记录";
}
@*datagrid*@

<div class="right_content_top" style="margin:15px;" id="declaration">
    <div class="topbar">
        <form id="filter_form">
            <span class="eta">@Html.DisplayNameFor(m => m.CTIME)</span><span class="eta_in"><input type="text" class="easyui-datebox" name="CTIME" /></span>
            <span class="default"> @Html.LabelFor(m => m.RecordType)</span>@Html.EnumDropDownListFor(m => m.RecordType, "（空）", new { @class = "date_select mr20" })
            <div class="search mr15">
                <span class="eta">合同编号</span><input type="text" name="ContractKey" />
                <a href="javascript:;" class="easyui-linkbutton" id="btn_financial_record_filter" onclick="$('#filter_form').submit();">查找</a>
            </div>
        </form>
        <button class="add_some mt10" onclick="self_add_row(true)"><i></i>添加实付账款</button>
        <button class="add_some mt10 ml20" onclick="self_add_row(false)"><i></i>添加实收账款 </button>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>

    <table id="my_datagrid"
           style="width:1200px;height:auto;"
           data-options="rownumbers:true,pagination:true,singleSelect:true,url:'/@ViewContext.RouteData.Values["Area"].ToString()/@ViewContext.RouteData.Values["Controller"].ToString()/Index',method:'post'">
        <thead>
            <tr>
                <th data-options="field:'CTIME_Str',width:'150',editor:'text'">@Html.DisplayNameFor(m => m.CTIME_Str)</th>
                <th data-options="field:'EventTypeStr',width:'150',editor:'text'">@Html.DisplayNameFor(m => m.EventTypeStr)</th>
                <th data-options="field:'Amount_Round',width:'150',editor:'text'">@Html.DisplayNameFor(m => m.Amount_Round)</th>
                <th data-options="field:'RecordTypeStr',width:'150',editor:'text'">@Html.DisplayNameFor(m => m.RecordTypeStr)</th>
                <th data-options="field:'OperateSysUser_PersonName',width:'150',editor:'text'">@Html.DisplayNameFor(m => m.OperateSysUser_PersonName)</th>
                <th data-options="field:'Comments',width:'150',editor:'text'">@Html.DisplayNameFor(m => m.Comments)</th>
                <th data-options="field:'CaoZuo',width:120,align:'center',formatter:operation_formatter">操作</th>
            </tr>
        </thead>
    </table>
</div>
@*add dialog*@
<div id="add_dialog" class="easyui-dialog" style="width:510px;height:500px;padding:10px 20px;" data-options="modal:true,closed:true" buttons="#add_dialog_buttons">
    <form method="post" class="dlg-form">
        <input type="hidden" name="ProductItemId" value="" />
        <div class="form-item">
            <label>
                <samp style="color:red;">*</samp>@Html.DisplayNameFor(m => m.RecordType)
            </label>
            @Html.EnumDropDownListFor(m => m.RecordType, new { @class = "date_select mr20" })
        </div>
        <div class="form-item">
            <label>
                <samp style="color:red;">*</samp>@Html.DisplayNameFor(m => m.EventType)
            </label>
            @Html.EnumDropDownListFor(m => m.EventType)
        </div>
        <div class="form-item">
            <label>
                @Html.DisplayNameFor(m => m.AccountsPayableId)                
            </label>
            <input type="text" name="AccountsPayableName" value="" class="w120" readonly="readonly" />
            <input type="hidden" name="AccountsPayableId" value="" />
        </div>
        <div class="form-item">
            <label>
                @Html.DisplayNameFor(m => m.AccountsReceivableId)
            </label>          
            <input type="text" name="AccountsReceivableName" value="" class="w120" readonly="readonly" />
            <input type="hidden" name="AccountsReceivableId" value="" />
        </div>
        <div class="form-item">
            <label>
                <samp style="color:red;">*</samp>@Html.DisplayNameFor(m => m.Amount_Round)
            </label>
            @Html.TextBoxFor(m => m.Amount)
        </div>
        <div class="form-item">
            <label>
                <samp style="color:red;">*</samp>@Html.DisplayNameFor(m => m.Currency)
            </label>    
            @Html.TextBoxFor(m => m.Currency, new { @class = "required",@Value =1, @readonly = "readonly"  })
        </div>
        <div class="form-item">
            <label>
                <samp style="color:red;">*</samp>@Html.DisplayNameFor(m => m.CurrencyExchangeRate)
            </label>
            @Html.TextBoxFor(m => m.CurrencyExchangeRate, new { @class = "required", @Value = YuShang.ERP.Entities.Configs.CurrencyConfigs.SALE_DEFAULT_CURRENCY_EXCHANGE_RATE })
        </div>
        <div class="form-item">
            <label>@Html.DisplayNameFor(m => m.Comments):</label>

            @Html.TextBoxFor(m => m.Comments)
            @Html.HiddenFor(m => m.OperatorSysUserName, new  { @Value="0"})
        </div>
        
    </form>
</div>
<div id="add_dialog_buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="javascript: submitForm('#add_dialog form');">提交</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="javascript: closeDialog('#add_dialog');">关闭</a>
</div>
@*edit dialog*@
<div id="edit_dialog" class="easyui-dialog" style="width:500px;height:200px;padding:20px 35px;" data-options="modal:true,closed:true" buttons="#edit_dialog_buttons">
    <form method="post" class="dlg-form">
        <input type="hidden" name="AccountsRecordId" value="" />
        <div class="form-item">
            @Html.LabelFor(m => m.Comments)
            @Html.TextAreaFor(m => m.Comments, new { @class = "", @style = "" })
        </div>
    </form>
</div>
<div id="edit_dialog_buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="javascript: submitForm('#edit_dialog form');">提交</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="javascript: closeDialog('#edit_dialog');">关闭</a>
</div>

@*选择应收账款弹出层*@
<div id="pick_receive_dialog" class="easyui-dialog" style="width:680px;height:500px;  padding:10px 20px;" data-options="modal:true,closed:true" buttons="#pick_receive_dialog_bottons">
    <div style="padding:10px 0px;">
        <input type="text" name="filterValue" data-default-value="请输入查找信息" style="width:200px;height:28px; text-indent:1em; float:left;" />
        <a href="javascript:;" class="easyui-linkbutton" id="btn_receive_filter">查找</a>
        <div class="clear"></div>
    </div>
    <table id="pick_receive_datagrid" class="easyui-datagrid" data-options="url:'/Finances/AccountsReceivables/Index',fitColumns:true,fit:true,singleSelect:true,pageSize:5">
        <thead>
            <tr>
                <th data-options="field:'SaleContractKey',editor:'text'">合同编号</th>
                <th data-options="field:'EventType_Str',editor:'text'">费用类型</th>
                <th data-options="field:'PayStatus_Str',editor:'text',width:80">支付状态</th>
                <th data-options="field:'Amount_Round',editor:'text',width:100">金额</th>
                <th data-options="field:'HasPaidAmount',editor:'text',width:100">已付账款</th>
                <th data-options="field:'ToBePaidAmount',editor:'text',width:100">未付账款</th>
                <th data-options="field:'Paid_Amount_Round',editor:'text',width:100">付款金额</th> 
            </tr>
        </thead>
    </table>
</div>
<div id="pick_receive_dialog_bottons">
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="javascript: ;" data-id-name="AccountsReceivableId">选中</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="javascript: closeDialog('#pick_receive_dialog');">关闭</a>
</div>


@*选择应付账款弹出层*@
<div id="pick_pay_dialog" class="easyui-dialog" style="width:680px;height:500px;  padding:10px 20px;" data-options="modal:true,closed:true" buttons="#pick_pay_dialog_bottons">
    <div style="padding:10px 0px;">
        <input type="text" name="filterValue" data-default-value="请输入查找信息" style="width:200px;height:28px; text-indent:1em; float:left;" />
        <a href="javascript:;" class="easyui-linkbutton" id="btn_pay_filter">查找</a>
        <div class="clear"></div>
    </div>
    <table id="pick_pay_datagrid" class="easyui-datagrid" data-options="url:'/Finances/AccountsPayables/Index',fitColumns:true,fit:true,singleSelect:true,pageSize:5">
        <thead>
            <tr>
                <th data-options="field:'OrderContractKey',editor:'text',width:150">合同编号</th>
                <th data-options="field:'EventType_Str',editor:'text',width:80">费用类型</th>
                <th data-options="field:'PayStatus_Str',editor:'text',width:80">支付状态</th>
                <th data-options="field:'Amount_Round',editor:'text',width:100">金额</th>               
                <th data-options="field:'HasPaidAmount',editor:'text',width:100">已付账款</th>
                <th data-options="field:'ToBePaidAmount',editor:'text',width:100">未付账款</th>
                <th data-options="field:'Paid_Amount_Round',editor:'text',width:100">付款金额</th>      
            </tr>
        </thead>
    </table>    
</div>
<div id="pick_pay_dialog_bottons">
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="javascript: ;" data-id-name="AccountsPayableId">选中</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="javascript: closeDialog('#pick_pay_dialog');">关闭</a>
</div>


@section Scripts{

    <script type="text/javascript">
        function self_add_row(type) {
            if (type) {
                $('#add_dialog #EventType').val(1);
            }
            else {
                $('#add_dialog #EventType').val(0);
            }
            add_row();
        }


        //选择应付账款
        $('#add_dialog input[name="AccountsPayableName"]').click(function () {
            parent.$('#pick_pay_dialog').dialog('open').dialog('setTitle', '选择应付账款');
        });

        //选择应付账款
        var pickPayFilterDefaultValue = $('#pick_pay_dialog input[name="filterValue"]').data('default-value');
        $('#pick_pay_dialog input[name="filterValue"]').val(pickPayFilterDefaultValue);
        $('#pick_pay_dialog input[name="filterValue"]').focus(function () {
            if ($(this).val() == pickPayFilterDefaultValue) $(this).val('');
        }).blur(function () {
            if ($(this).val() == '') $(this).val(pickPayFilterDefaultValue);
        });
        $('#btn_clients_filter').click(function () {
            var filterValue = $('#pick_pay_dialog input[name="filterValue"]').val();
            if (filterValue == '' || filterValue == pickPayFilterDefaultValue) {

            } else {
                $('#pick_pay_datagrid').datagrid('load', {
                    filterValue: filterValue
                });
            }
        });
        //选中应付账款
        $('#pick_pay_dialog_bottons a:first').click(function () {
            var row = $('#pick_pay_datagrid').datagrid('getSelected');
            if (row == null) {
                $.messager.alert('提示', '请选择记录');
            } else {
                $('#add_dialog input[name="AccountsPayableName"]').val(row.OrderContractKey + row.EventType_Str);
                $('#add_dialog :hidden[name="AccountsPayableId"]').val(row.AccountsPayableId);  
                $('#pick_pay_dialog').dialog('close');
            }
        });


        //选择应收账款
        $('#add_dialog input[name="AccountsReceivableName"]').click(function () {
            parent.$('#pick_receive_dialog').dialog('open').dialog('setTitle', '选择应付账款');
        });
        //选择应付账款
        var pickReceiveFilterDefaultValue = $('#pick_receive_dialog input[name="filterValue"]').data('default-value');
        $('#pick_receive_dialog input[name="filterValue"]').val(pickReceiveFilterDefaultValue);
        $('#pick_receive_dialog input[name="filterValue"]').focus(function () {
            if ($(this).val() == pickReceiveFilterDefaultValue) $(this).val('');
        }).blur(function () {
            if ($(this).val() == '') $(this).val(pickReceiveFilterDefaultValue);
        });
        $('#btn_clients_filter').click(function () {
            var filterValue = $('#pick_receive_dialog input[name="filterValue"]').val();
            if (filterValue == '' || filterValue == pickReceiveFilterDefaultValue) {

            } else {
                $('#pick_receive_datagrid').datagrid('load', {
                    filterValue: filterValue
                });
            }
        });
        //选中应付账款
        $('#pick_receive_dialog_bottons a:first').click(function () {
            var row = $('#pick_receive_datagrid').datagrid('getSelected');
            if (row == null) {
                $.messager.alert('提示', '请选择记录');
            } else {
                $('#add_dialog input[name="AccountsReceivableName"]').val(row.SaleContractKey + row.EventType_Str);
                $('#add_dialog :hidden[name="AccountsReceivableId"]').val(row.AccountsReceivableId);
                $('#pick_receive_dialog').dialog('close');
            }
        });
    </script>
}


