@model PrivilegeFramework.ContractInfo
@{
    ViewBag.Title = "新建采购合同";
}
<form id="add_order_form" method="post" action="/@ViewContext.RouteData.Values["Area"].ToString()/@ViewContext.RouteData.Values["Controller"].ToString()/Add">
    <input type="hidden" name="ContractType" value="0" />
    <div class="orders_list">

        <div class="the_bz">
            <button class="new_order"><i></i>采购订单基础信息编辑</button>
            <button class="new_order"><i></i>采购订单物流和报关信息编辑</button>
            <button class="new_order"><i></i>该采购订单所对应的销售订单</button>

        </div>

        <div class="right_content_top bgc1">
            <span class="default red ml20"></span><span class="default">@Html.DisplayNameFor(m => m.SupplierId)</span>
            @Html.DropDownListFor(m => m.SupplierId, AtlanticDX.ERP.Helper.OrdersHelper.GetSuppliers(), "--请选择--", new { @class = "date_select mr20" })
            <span class="default red">*</span><span class="default">@Html.DisplayNameFor(m => m.CTIME)</span>
            <span class="eta_in">@Html.TextBoxFor(m => m.CTIME, new { @class = "easyui-datebox", @id = "thedate", @style = "width:98%;", @required = "required", @Value = DateTime.Now.ToString("yyyy-MM-dd") })</span>
            @*
            
    <span class="default">@Html.DisplayNameFor(m => m.HarborId)</span>@Html.DropDownListFor(m => m.HarborId, AtlanticDX.ERP.Helper.OrdersHelper.GetHarbors(), "--请选择--", new { @class = "date_select mr20" })*@
            <span class="default red">*</span><span class="default">@Html.DisplayNameFor(m => m.ContractKey)</span>
            <span class="eta_in">
                @Html.TextBoxFor(m => m.ContractKey, new { @class = "easyui-textbox w120"})
            </span>
            <span class="default red">*</span><span class="default">@Html.DisplayNameFor(m => m.OrderType)</span>
            <select name="OrderType" class="date_select date_select_r mr20">
                <option value="0">期货</option>
                <option value="1">现货</option>
            </select>

            <span class="default red">*</span><span class="default">汇率</span>@Html.TextBoxFor(m => m.Comments, new { @class = "w50",@Value=6.25 })
        </div>
        <div class="right_content_top bb1">
            <span class="default ml20">@Html.DisplayNameFor(m => m.ETA)</span><span class="eta_in">@Html.TextBoxFor(m => m.ETA, new { @class = "easyui-datebox", @style = "width:98%;" })</span>
            <span class="default">@Html.DisplayNameFor(m => m.ETD)</span><span class="eta_in">@Html.TextBoxFor(m => m.ETD, new { @class = "easyui-datebox", @style = "width:98%;" })</span>
            <span class="default">@Html.DisplayNameFor(m => m.ShipmentPeriod)</span><span class="default"> @Html.TextBoxFor(m => m.ShipmentPeriod, new { @class = "w120" })</span>
            <span class="default">@Html.DisplayNameFor(m => m.ContainerSerial)</span>@Html.TextBoxFor(m => m.ContainerSerial, new { @class = "w120" })
            <span class="default">@Html.DisplayNameFor(m => m.DeliveryBillSerial)</span>@Html.TextBoxFor(m => m.DeliveryBillSerial, new { @class = "w120" })

        </div>
        <div class="clear"></div>
        <div class="ddgl clearf calculate">

            <table id="picked_products_table" class="svs_table ml20 mr20">
                <thead class="">
                    <tr>
                        <th class="check w20" width="20"></th>
                        @*<th class="w150" style="width:150px;">货品出厂编号</th>*@
                        <th class="w100" style="width: 100px;">货品名/品牌</th>
                        <th class="w100" style="width: 100px;">国家</th>
                        <th class="w100" style="width: 100px;">厂号</th>
                        <th class="w80" style="width: 80px;">规格</th>
                        <th class="w80" style="width: 80px;">包装</th>
                        <th class="w50" style="width: 50px;">单位</th>
                        <th class="w50" style="width: 50px;">件数</th>
                        <th class="w50" style="width: 50px;">净重</th>
                        <th class="w50" style="width: 50px;">单价</th>
                        <th class="w80" style="width: 80px;">采购币种</th>
                        <th class="w80" style="width: 80px;">货款小计</th>
                        <th class="operation w100" style="width: 100px;">操作</th>

                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i <= 0; i++)
                    {
                        <tr>
                            <td class="check" style="width: 20px;">@(i + 1)</td>
                            @*<td name="ProductKey" style="width:150px;"></td>*@
                            <td name="ProductFullName" style="width: 100px;"></td>
                            <td name="ProductFullName" style="width: 100px;"></td>
                            <td name="ProductFullName" style="width: 100px;"></td>
                            <td name="Specification" style="width: 80px;"></td>
                            <td name="Packing" style="width: 80px;"></td>
                            <td>
                                <select name="ContractItems[@i].Units" style="width:60px;">
                                    <option>吨</option>
                                    <option>千克</option>
                                    <option>磅</option>
                                </select>
                            </td>
                            <td style="width: 50px;">
                                <input type="hidden" name="ContractItems[@i].ProductId" value="" />
                                <input type="hidden" name="ContractItems[@i].ProductKey" value="" />
                                <input type="hidden" name="ContractItems[@i].Units" value="" />
                                <input name="ContractItems[@i].Quantity" type="text"  style="width:50px;" />
                            </td>
                            <td style="width: 50px;">
                                <input name="ContractItems[@i].NetWeight" class="num_compute" type="text" style="width:50px;" />
                            </td>
                            <td style="width: 50px;">
                                <input name="ContractItems[@i].UnitPrice" class="num_compute" type="text" style="width:50px;" />
                            </td>
                            <td style="width: 80px;">
                                <select name="ContractItems[@i].Currency" style="width:80px;">
                                    <option>美元</option>
                                    <option>港元</option>
                                    <option>人民币</option>
                                </select>
                            </td>
                            <td name="ContractItems.SubTotal" style="width: 80px;"></td>
                            <td class="operation" style="width: 80px;">
                                <a href="javascript:;" class="add">新增</a>
                                <span>|</span>
                                <a href="javascript:;" class="del">删除</a>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>

            <div class="table_info mt10">
                <p class="clearf ml20">
                    <span class="default red">*</span><span class="default">@Html.DisplayNameFor(m => m.Payment)</span><span class="default">@Html.TextBoxFor(m => m.Payment, new { @class = "w300" })</span>
                    <span class="default red">*</span>
                    <span class="default">@Html.DisplayNameFor(m => m.PaymentTotal)</span> <span class="default">@Html.TextBoxFor(m => m.PaymentTotal, new { @class = "w115 compute_all_subtotal" ,@Value="0.00"})</span>
                    <span class="default">@Html.DisplayNameFor(m => m.ImportDeposite)</span> <span class="default ">@Html.TextBoxFor(m => m.ImportDeposite, new { @class = "w115",@Value="0.00" })</span>
                    <span class="default red">*</span>
                    <span class="default">@Html.DisplayNameFor(m => m.ImportBalancedPayment)</span> <span class="default eta_in">@Html.TextBoxFor(m => m.ImportBalancedPayment, new { @class = "w115 compute_all_subtotal", @Value = "0.00" })</span>
                </p>
                <p class="clearf ml20">
                    <span class="default mr100">@Html.DisplayNameFor(m => m.CreateSysUserKey)： @ViewBag.CurrentUser.Name (@ViewBag.CurrentUser.UserName)</span>
                </p>
            </div>
            <div class="submit">
                <button class="default" type="submit">下一步</button>
                <button class="default" type="reset">取消</button>
            </div>
        </div>
    </div>
</form>

@*选择商品弹出层*@
<div id="pick_product_dialog" class="easyui-dialog" style="width: 680px; min-height: 240px; max-height: 500px; height: 50%; padding: 10px 20px;" data-options="modal:true,closed:true" buttons="#pick_product_dialog_bottons">
    <div style="padding: 10px 0px;">
        <input type="text" name="filterValue" value="请输入商品编号或名称或规格" style="width: 200px; height: 28px; text-indent: 1em; float: left;" />
        <a href="javascript:;" class="easyui-linkbutton" id="btn_pick_products_filter">查找</a>
        <div class="clear"></div>
    </div>
    <script type="text/javascript">
        function pick_product_operation_formatter(value, row, index) {
            return '<a href="javascript:showProductDetailDialog(' + row.ProductId + ');">查看</a>';
        }

    </script>
    <table id="pick_products_datagrid" class="easyui-datagrid" data-options="pageSize: 5,pageList: [5, 10, 20],rownumbers:true,pagination:true,singleSelect:true,url:'/Public/Data/Products',method:'post'">
        <thead>
            <tr data-options="height:120">
                <th data-options="field:'CaoZuo',width:80,algin:'center',formatter:pick_product_operation_formatter">操作</th>
                @*<th data-options="field:'ProductKey',width:100,algin:'center'">货品出厂编号</th>*@
                <th data-options="field:'ProductFullName',width:300,algin:'center'">国家/厂号/货品名/品牌</th>
                <th data-options="field:'Specification',width:50,algin:'center'">规格</th>
                <th data-options="field:'Packing',width:100,algin:'center'">包装</th>
                <th data-options="field:'Units',width:50,algin:'center'">单位</th>
                <th data-options="field:'Units',width:50,algin:'center'">付款方式</th>
    </table>
</div>
<div id="pick_product_dialog_bottons">
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="javascript: ;" data-id-name="ProductKey">选中</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="javascript: closeDialog('#pick_product_dialog');">关闭</a>
</div>

@Html.Partial("ProductDetailDialog")
@section scripts{
    <script type="text/javascript" src="~/Scripts/pick_product.js"></script>
    <script>

        $(function () {
            //绑定自动计算           
            $('#PaymentTotal').on('change', compute_ImportBalancedPayment);
            $('#ImportDeposite').on('change', compute_ImportBalancedPayment);

            //计算采购尾款默认值
            function compute_ImportBalancedPayment() {
                var balancedPayment = 0;
                var total = parseFloat($('#PaymentTotal').val());
                var deposite = parseFloat($('#ImportDeposite').val());
                if ($.isNumeric(total) && $.isNumeric(deposite) && (total - deposite) > 0) {
                    balancedPayment = (total - deposite).toFixed(2);
                }
                $('#ImportBalancedPayment').val(balancedPayment);
            }

            //绑定合同编号变化事件
            $('#ContractKey').textbox({
                validType:'isKey',
                //转换为大写
                onChange: function (newValue, oldValue) {
                    $('#ContractKey').textbox('setValue', newValue.toUpperCase());
                }
            });
            //提交
            var validateOptions = get_validate_rules_messages('#add_order_form');
            $('#add_order_form').validate({
                rules: validateOptions.rules,
                messages: validateOptions.messages,
                submitHandler: function (form) {
                    var isPass = false;
                    if ($('#ContractKey').val().trim() == '') {
                        $.messager.alert('提示', '合同编号不能为空!');
                        return isPass;
                    }
                    //汇率验证
                    //if ($('#ContractKey').val().trim() == '') {
                    //    $.messager.alert('提示', '合同编号不能为空!');
                    //    return isPass;
                    //}
                    //检查已选商品列
                    if (picked_productkeys_ids.length == 0) {
                        $.messager.alert('提示', '未选择商品');
                    }
                    else {
                        $('#picked_products_table tbody tr').each(function (index, obj) {
                            if ($(obj).find('td').eq(1).text() == '') {
                                $.messager.alert('提示', '已选商品列表存在空行');
                            } else {
                                $inputs = $(obj).find(':text');
                                for (i = 0; i < $inputs.length; i++) {
                                    var isHkLogistics = $inputs.eq(i).prop('name').indexOf('HongkongLogistics') >= 0;
                                    var isMlLogistics = $inputs.eq(i).prop('name').indexOf('MainlandLogistics') >= 0;
                                    var needHkLogistics = $('#add_order_form select[name="HongkongLogistics.HongKongLogisticsCompanyId"]').val() != '';
                                    var needMlLogistics = $('#add_order_form select[name="MainlandLogistics.MainlandLogisticsCompanyId"]').val() != '';
                                    if (isHkLogistics && !needHkLogistics) {

                                    } else if (isMlLogistics && !needMlLogistics) {

                                    }
                                    else if ($inputs.eq(i).val() == '' || isNaN($inputs.eq(i).val())) {
                                        var labelObj = $('#picked_products_table thead th:nth-child(' + ($inputs.eq(i).parent().index() + 1) + ')');
                                        var labelText = labelObj.find('label').size() == 1 ? $.trim(labelObj.find('label').text()) : labelObj.text()
                                        $.messager.alert('提示', '请正确填写' + labelText);
                                        $inputs.eq(i).focus();
                                        return false;
                                    }
                                }
                                isPass = true;
                            }
                        });
                        if (isPass && $("#Payment").val().trim() == '') {
                            isPass = false;
                            $.messager.alert('提示', '请正确填写付款方式');
                        }
                        if (!isPass) {
                            return isPass;
                        }
                        //发送请求
                        $.ajax({
                            url: $('#add_order_form').prop('action'),
                            data: $(form).serialize(),
                            type: 'post',
                            cache: false,
                            beforeSend: function () {
                                $.messager.progress({
                                    title: '',
                                    msg: '处理中...'
                                });
                            },
                            success: function (resp) {
                                $.messager.progress('close');
                                var messages = GetModelStateErrors(resp);
                                if (messages.length > 0) {
                                    $.messager.alert('提示', messages.join('<br/>'));
                                } else {
                                    $.messager.alert('提示', '添加成功', 'info', function () { parent.updateMainTab('新建采购合同', '报关与物流', '/Orders/OrderContract/AddBgwl?OrderContractKey=' + $("#ContractKey").val()) });

                                }
                            }
                        });
                    }
                }
            });
        });

        $(function () {
            $('select[name="HarborAgent.HarborAgentId"]').change(function () {

            });
            $('select[name="HongkongLogistics.HongKongLogisticsCompanyId"]').change(function () {

            });
            $('select[name="MainlandLogistics.MainlandLogisticsCompanyId"]').change(function () {

            });
        });

    </script>
}