@model PrivilegeFramework.ContractInfo
@{
    ViewBag.Title = "编辑采购合同";
}

<form id="add_order_form" method="post" action="/@ViewContext.RouteData.Values["Area"].ToString()/@ViewContext.RouteData.Values["Controller"].ToString()/Edit">
    @Html.HiddenFor(m => m.ContractId)
    <input type="hidden" name="ContractType" value="0" />
    <div class="orders_list">
        <div class="right_content_top bgc1">
            <span class="default red ml20"></span><span class="default">@Html.DisplayNameFor(m => m.SupplierId)</span>
            @Html.DropDownListFor(m => m.SupplierId, AtlanticDX.Model.Helper.OrdersHelper.GetSuppliers(), "--请选择--", new { @class = "date_select mr20" })
            <span class="default red">*</span><span class="default">@Html.DisplayNameFor(m => m.CTIME)</span>
            <span class="eta_in">@Html.TextBoxFor(m => m.CTIME, new { @class = "easyui-datebox", @id = "thedate", @style = "width:98%;", @required = "required", @Value = DateTime.Now.ToString("yyyy-MM-dd") })</span>
            @*

                <span class="default">@Html.DisplayNameFor(m => m.HarborId)</span>@Html.DropDownListFor(m => m.HarborId, AtlanticDX.Model.Helper.OrdersHelper.GetHarbors(), "--请选择--", new { @class = "date_select mr20" })*@
            <span class="default red">*</span><span class="default">@Html.DisplayNameFor(m => m.ContractKey)</span>
            <span class="eta_in">
                @Html.TextBoxFor(m => m.ContractKey, new { @class = "w120", @readonly = "readonly" })
            </span>
            <span class="default red">*</span><span class="default">@Html.DisplayNameFor(m => m.OrderType)</span>
            <select name="OrderType" class="date_select date_select_r mr20">
                <option value="0">期货</option>
                <option value="1">现货</option>
            </select>
            <span class="default red">*</span><span class="default">@Html.DisplayNameFor(m => m.Currency)</span>
            @Html.TextBoxFor(m => m.Currency, new { @class = "w50", @Value = YuShang.ERP.Entities.Configs.CurrencyConfigs.ORDER_DEFAULT_CURRENCY_VALUE, @readonly = "readonly" })
            <span class="default red">*</span><span class="default">@Html.DisplayNameFor(m => m.CurrencyExchangeRate)</span>@Html.TextBoxFor(m => m.CurrencyExchangeRate, new { @class = "w50" })
        </div>
        <div class="right_content_top bb1">
            <span class="default ml20">@Html.DisplayNameFor(m => m.ETA)</span><span class="eta_in">@Html.TextBoxFor(m => m.ETA, new { @class = "easyui-datebox", @style = "width:98%;" })</span>
            <span class="default">@Html.DisplayNameFor(m => m.ETD)</span><span class="eta_in">@Html.TextBoxFor(m => m.ETD, new { @class = "easyui-datebox", @style = "width:98%;" })</span>
            <span class="default">@Html.DisplayNameFor(m => m.ShipmentPeriod)</span><span class="default"> @Html.TextBoxFor(m => m.ShipmentPeriod, new { @class = "w120" })</span>
            <span class="default">@Html.DisplayNameFor(m => m.ContainerSerial)</span>@Html.TextBoxFor(m => m.ContainerSerial, new { @class = "w120" })
            <span class="default">@Html.DisplayNameFor(m => m.DeliveryBillSerial)</span>@Html.TextBoxFor(m => m.DeliveryBillSerial, new { @class = "w120" })

        </div>
        <div class="ddgl clearf calculate">
            <table id="picked_products_table" class="svs_table ml20 mr20">
                <thead class="">
                    <tr>
                        <th class="check w20"></th>
                        <th class="w150">货品出厂编号</th>
                        <th class="w200">国家/厂号/货品名/品牌</th>
                        <th class="w150">规格</th>
                        <th class="w100">包装</th>
                        <th class="w100">单位（吨/磅）</th>
                        <th class="w100">件数</th>
                        <th class="w100">净重</th>
                        <th class="w100">单价</th>
                        <th class="w100">采购币种</th>
                        <th class="w100">货款小计</th>
                        <th class="operation w150">操作</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ContractItems != null && Model.ContractItems.Count > 0)
                    {
                        for (int i = 0; i < Model.ContractItems.Count; i++)
                        {
                            <tr>
                                <td class="check">@(i + 1)</td>
                                <td name="ProductKey">@Model.ContractItems.ElementAt(i).ProductKey</td>
                                <td name="ProductFullName">@Model.ContractItems.ElementAt(i).Product.ProductFullName</td>
                                <td name="Specification">@Model.ContractItems.ElementAt(i).Product.Specification</td>
                                <td name="Packing">@Model.ContractItems.ElementAt(i).Product.Packing</td>
                                <td>
                                    <select name="ContractItems[@i].Units" style="width:100px;">
                                        <option>吨</option>
                                        <option>千克</option>
                                        <option>磅</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="hidden" name="ContractItems[@i].ProductId" value="@Model.ContractItems.ElementAt(i).ProductId" />
                                    <input type="hidden" name="ContractItems[@i].ProductKey" value="@Model.ContractItems.ElementAt(i).ProductKey" />
                                    <input type="hidden" name="ContractItems[@i].Units" value="@Model.ContractItems.ElementAt(i).Units" />
                                    <input name="ContractItems[@i].Quantity" type="text" value="@Model.ContractItems.ElementAt(i).Quantity" class="quantity w100" />
                                </td>
                                <td>
                                    <input name="ContractItems[@i].NetWeight" type="text" value="@Model.ContractItems.ElementAt(i).NetWeight" class="w100" />
                                </td>
                                <td>
                                    <input name="ContractItems[@i].UnitPrice" type="text" value="@Model.ContractItems.ElementAt(i).UnitPrice" style="width:100px;" />
                                </td>
                                <td>
                                    <select name="ContractItems[@i].Currency" style="width:100px;">
                                        <option @(@Model.ContractItems.ElementAt(i).Currency == "美元" ? " selected" : "")>美元</option>
                                        <option @(@Model.ContractItems.ElementAt(i).Currency == "港元" ? " selected" : "")>港元</option>
                                        <option @(@Model.ContractItems.ElementAt(i).Currency == "人民币" ? " selected" : "")>人民币</option>
                                    </select>
                                </td>
                                <td name="ContractItems.SubTotal">@(@Model.ContractItems.ElementAt(i).SubTotal)</td>
                                <td class="operation">
                                    <a href="javascript:;" class="add">新增</a>
                                    <span>|</span>
                                    <a href="javascript:;" class="del">删除</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div class="ddgl clearf calculate">
                <div class="gkdl">
                    <div class="title">港口代理</div>
                    <div class="gkdl_list">
                        <div class="gkdl_list_top">
                            <span class="default">港口代理代理商</span>
                            @Html.DropDownListFor(m => m.HarborAgent.DeclarationCompanyId, AtlanticDX.Model.Helper.OrdersHelper.GetHarborAgents(), new { @class = "date_select mr20" })
                        </div>
                        <div class="gkdl_list_bot">
                            @Html.LabelFor(m => m.HarborAgent.HarborCost)
                            @Html.TextBoxFor(m => m.HarborAgent.HarborCost)
                            @Html.LabelFor(m => m.HarborAgent.AgentCost)
                            @Html.TextBoxFor(m => m.HarborAgent.AgentCost)
                            @Html.LabelFor(m => m.HarborAgent.Tariff)
                            @Html.TextBoxFor(m => m.HarborAgent.Tariff)
                            @Html.LabelFor(m => m.HarborAgent.AntiDumpingTax)
                            @Html.TextBoxFor(m => m.HarborAgent.AntiDumpingTax)
                            @Html.LabelFor(m => m.HarborAgent.OthersCost)
                            @Html.TextBoxFor(m => m.HarborAgent.OthersCost)
                            @Html.LabelFor(m => m.HarborAgent.Memo)
                            @Html.TextBoxFor(m => m.HarborAgent.Memo)
                            @Html.LabelFor(m => m.HarborAgent.Total)
                            @Html.TextBoxFor(m => m.HarborAgent.Total)
                        </div>
                    </div>
                </div>


                <div class="gkdl">
                    <div class="gkdl_list">
                        <div class="gkdl_list_top">
                            <span class="default">香港物流公司</span>
                            @Html.DropDownListFor(m => m.HongkongLogistics.HongKongLogisticsCompanyId, AtlanticDX.Model.Helper.OrdersHelper.GetHongkongLogisticsCompanies(), new { @class = "date_select mr20" })
                        </div>

                        <div class="gkdl_list_bot">
                            <table cellspacing="1" cellpadding="0" class="the_wuliu" align="center">
                                <thead class="">
                                    <tr>
                                        <th class="check w20" width="20"></th>
                                        <th class="w200" style="width:200px;">国家/厂号/货品名/品牌</th>
                                        <th class="w120" style="width:120px;">
                                            @Html.DisplayNameFor(m => m.HongkongLogistics.LogisItems.First().ContractQuantity)
                                        </th>
                                        <th class="w120" style="width:120px;">
                                            @Html.DisplayNameFor(m => m.HongkongLogistics.LogisItems.First().ContractWeight)
                                        </th>
                                        <th class="w120" style="width:120px;">
                                            @Html.DisplayNameFor(m => m.HongkongLogistics.LogisItems.First().FreightCharges)
                                        </th>
                                        <th class="w120" style="width:120px;">
                                            @Html.DisplayNameFor(m => m.HongkongLogistics.LogisItems.First().Insurance)
                                        </th>
                                        <th class="w120" style="width:120px;">
                                            @Html.DisplayNameFor(m => m.HongkongLogistics.LogisItems.First().SubTotal)
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="tb_HongKong">
                                    @if (Model.ContractItems != null && Model.ContractItems.Count > 0)
                                    {
                                        if (Model.HongkongLogistics.LogisItems != null && Model.HongkongLogistics.LogisItems.Count > 0)
                                        {
                                            for (int i = 0; i < Model.ContractItems.Count; i++)
                                            {
                                                <tr>
                                                    <td class="check">@(i + 1)</td>
                                                    <td>
                                                        @Model.ContractItems.ElementAt(i).ProductFullName
                                                    </td>
                                                    <td>
                                                        <input type="hidden" name="HongkongLogistics.LogisItems[@i].ProductItemId" value="@Model.HongkongLogistics.LogisItems.ElementAt(i).ProductItemId" />
                                                        <input name="HongkongLogistics.LogisItems[@i].ContractQuantity" class="quantity" type="text" value="@Model.HongkongLogistics.LogisItems.ElementAt(i).ContractQuantity" />
                                                    </td>
                                                    <td>
                                                        <input name="HongkongLogistics.LogisItems[@i].ContractWeight" type="text" class="num_compute" value="@Model.HongkongLogistics.LogisItems.ElementAt(i).ContractWeight" />
                                                    </td>
                                                    <td>
                                                        <input name="HongkongLogistics.LogisItems[@i].FreightCharges" type="text" class="num_compute" value="@Model.HongkongLogistics.LogisItems.ElementAt(i).FreightCharges" />
                                                    </td>
                                                    <td>
                                                        <input name="HongkongLogistics.LogisItems[@i].Insurance" type="text" value="@Model.HongkongLogistics.LogisItems.ElementAt(i).Insurance" />
                                                    </td>
                                                    <td>
                                                        <input name="HongkongLogistics.LogisItems.SubTotal" type="text" value="@Model.HongkongLogistics.LogisItems.ElementAt(i).SubTotal" />
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="gkdl">

                    <div class="title">内地物流</div>

                    <div class="gkdl_list">

                        <div class="gkdl_list_top">
                            <span class="default">内地物流公司</span>
                            @Html.DropDownListFor(m => m.MainlandLogistics.MainlandLogisticsCompanyId, AtlanticDX.Model.Helper.OrdersHelper.GetMainlandLogisticsCompanies(), new { @class = "date_select mr20" })
                        </div>

                        <div class="gkdl_list_bot">
                            <table cellspacing="1" cellpadding="0" class="the_wuliu" align="center">

                                <thead class="">
                                    <tr>
                                        <th class="check w20"></th>
                                        <th class="w200">国家/厂号/货品名/品牌</th>
                                        <th class="w120">
                                            @Html.LabelFor(m => m.MainlandLogistics.LogisItems.First().ContractQuantity)
                                        </th>
                                        <th class="w120">
                                            @Html.LabelFor(m => m.MainlandLogistics.LogisItems.First().ContractWeight)
                                        </th>
                                        <th class="w120">
                                            @Html.LabelFor(m => m.MainlandLogistics.LogisItems.First().FreightCharges)
                                        </th>
                                        <th class="w120">
                                            @Html.LabelFor(m => m.MainlandLogistics.LogisItems.First().Insurance)
                                        </th>
                                        <th class="w120">
                                            @Html.LabelFor(m => m.MainlandLogistics.LogisItems.First().SubTotal)
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="tb_MainLand">
                                    @if (Model.MainlandLogistics.LogisItems != null && Model.MainlandLogistics.LogisItems.Count > 0)
                                    {
                                        int i = 0;
                                        for (; i < Model.MainlandLogistics.LogisItems.Count; i++)
                                        {
                                            <tr>
                                                <td class="check">@(i + 1)</td>
                                                <td>
                                                    @Model.ContractItems.ElementAt(i).ProductFullName
                                                </td>
                                                <td>
                                                    <input type="hidden" name="MainlandLogistics.LogisItems[@i].ProductItemId" value="@Model.MainlandLogistics.LogisItems.ElementAt(i)" />
                                                    <input type="hidden" name="MainlandLogistics.LogisItems[@i].ProductItemId" value="@Model.MainlandLogistics.LogisItems.ElementAt(i).ProductItemId" />
                                                    <input name="MainlandLogistics.LogisItems[@i].ContractQuantity" class="quantity" type="text" value="@Model.MainlandLogistics.LogisItems.ElementAt(i).ContractQuantity" />
                                                </td>
                                                <td>
                                                    <input name="MainlandLogistics.LogisItems[@i].ContractWeight" type="text" class="num_compute" value="@Model.MainlandLogistics.LogisItems.ElementAt(i).ContractWeight" />
                                                </td>
                                                <td>
                                                    <input name="MainlandLogistics.LogisItems[@i].FreightCharges" type="text" class="num_compute" value="@Model.MainlandLogistics.LogisItems.ElementAt(i).FreightCharges" />
                                                </td>
                                                <td>
                                                    <input name="MainlandLogistics.LogisItems[@i].Insurance" type="text" value="@Model.MainlandLogistics.LogisItems.ElementAt(i).Insurance" />
                                                </td>
                                                <td>
                                                    <input name="MainlandLogistics.LogisItems.SubTotal" type="text" value="@Model.MainlandLogistics.LogisItems.ElementAt(i).SubTotal" />
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="table_info mt10">
                    <p class="clearf ml20">
                        <span class="default red">*</span><span class="default">@Html.DisplayNameFor(m => m.Payment)</span><span class="default">@Html.TextBoxFor(m => m.Payment, new { @class = "w300" })</span>
                        <span class="default red">*</span>
                        <span class="default">@Html.DisplayNameFor(m => m.PaymentTotal)</span> <span class="default">@Html.TextBoxFor(m => m.PaymentTotal, new { @class = "w115 compute_all_subtotal" })</span>
                        <span class="default">@Html.DisplayNameFor(m => m.ImportDeposite)</span> <span class="default ">@Html.TextBoxFor(m => m.ImportDeposite, new { @class = "w115" })</span>
                        <span class="default red">*</span>
                        <span class="default">@Html.DisplayNameFor(m => m.ImportBalancedPayment)</span> <span class="default eta_in">@Html.TextBoxFor(m => m.ImportBalancedPayment, new { @class = "w115 compute_all_subtotal" })</span>
                    </p>
                    <p class="clearf ml20">
                        <span class="default mr100">@Html.DisplayNameFor(m => m.CreateSysUserKey)： @Model.CreateSysUserKey</span>
                    </p>
                </div>
                <div class="submit">
                    <button class="default" type="submit">保存</button>
                    <button class="default" type="reset">取消</button>
                </div>
            </div>
        </div>
    </div>
</form>

@*选择商品弹出层*@
<div id="pick_product_dialog" class="easyui-dialog" style="width:680px;min-height:240px;max-height:500px; height:50%;  padding:10px 20px;" data-options="modal:true,closed:true" buttons="#pick_product_dialog_bottons">
    <div style="padding:10px 0px;">
        <input type="text" name="filterValue" value="请输入商品编号或名称或规格" style="width:200px;height:28px; text-indent:1em; float:left;" />
        <a href="javascript:;" class="easyui-linkbutton" id="btn_pick_products_filter">查找</a>
        <div class="clear"></div>
    </div>
    <script>
        function pick_product_operation_formatter(value, row, index) {
            return '<a href="javascript:showProductDetailDialog(' + row.ProductId + ');">查看</a>';
        }
    </script>
    <table id="pick_products_datagrid" class="easyui-datagrid" data-options="pageSize: 5,pageList: [5, 10, 20],rownumbers:true,pagination:true,singleSelect:true,url:'/Public/Data/Products',method:'post'">
        <thead>
            <tr data-options="height:120">
                <th data-options="field:'CaoZuo',width:80,algin:'center',formatter:pick_product_operation_formatter">操作</th>
                <th data-options="field:'ProductKey',width:100,algin:'center'">货品出厂编号</th>
                <th data-options="field:'ProductFullName',width:200,algin:'center'">国家/厂号/货品名/品牌</th>
                <th data-options="field:'Specification',width:50,algin:'center'">规格</th>
                <th data-options="field:'Packing',width:100,algin:'center'">包装</th>
                <th data-options="field:'Units',width:50,algin:'center'">单位</th>
    </table>
</div>
<div id="pick_product_dialog_bottons">
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="javascript: ;" data-id-name="ProductKey">选中</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="javascript: closeDialog('#pick_product_dialog');">关闭</a>
</div>

@Html.Partial("ProductDetailDialog")

@section scripts{
    <script type="text/javascript" src="~/Scripts/pick_product.js"></script>
    <script src="~/Scripts/Order/bgwl.js"></script>
    @if (Model.ContractItems != null && Model.ContractItems.Count > 0)
    {
        foreach (var item in Model.ContractItems)
        {
            <script>
                picked_productkeys_ids.push('@item.ProductKey');
            </script>
        }
    }
}