@model PrivilegeFramework.ContractInfo
@{
    ViewBag.Title = "采购合同";
}
<div class="right_content_top">
    <form id="filter_form">
        @*<span class="order">订单总数：@ViewBag.OrdersPaymentTotal 元</span><span class="earnest mr100">已付总定金：@ViewBag.PaidDepositTotal 元</span>*@
        <span class="eta ml20">ETA筛选</span><span class="eta_in"><input type="text" class="easyui-datebox" data-val-date="ETA 必须为日期" name="ETA" style="width:98%;"></span>
        <div class="search mr15">
            @*<form id="filter_form">*@
            <input type="text" value="货品名/厂号/品牌/供应商" name="filterValue" onfocus="if (this.value == '货品名/厂号/品牌/供应商') this.value = '';" onblur="if (this.value == '') this.value = '货品名/厂号/品牌/供应商';" />
            <button type="submit">查询</button>
            @*嵌套一个id一样的Form？</form>*@
        </div>
    </form>
    <button class="new_order"><i></i>新增采购合同</button>
    @*<button class="new_order"><i></i>新建现货销售合同</button>
        <button class="new_order"><i></i>新建期货销售合同</button>*@
</div>
<div class="ddgl clearf calculate" style="margin:15px;" id="cght">
    <table id="my_datagrid" class="" title=""
           data-options="view:detailview,detailFormatter: productDetailFormatterNew,rownumbers:true,pagination:true,singleSelect:true,url:'/@ViewContext.RouteData.Values["Area"].ToString()/@ViewContext.RouteData.Values["Controller"].ToString()/Index',method:'post'">
        <thead>
            <tr data-options="height:120">
                <th data-options="field:'ContractKey',width:120,algin:'center'">@Html.DisplayNameFor(m => m.ContractKey)</th>
                @*<th data-options="field:'OrderType',width:75,algin:'center',formatter:func_ordertype_formatter">@Html.DisplayNameFor(m => m.OrderType)</th>*@
                <th data-options="field:'ContractType',width:85,algin:'center',formatter:func_ContractType_formatter">@Html.DisplayNameFor(m => m.OrderType)</th>
                <th data-options="field:'CTIME_STR',width:85,align:'center'">@Html.DisplayNameFor(m => m.CTIME_STR)</th>
                @*<th data-options="field:'ETA_STR',width:150,align:'center'">@Html.DisplayNameFor(m => m.ETA_STR)</th>*@
                @*<th data-options="field:'ETD_STR',width:150,align:'center'">@Html.DisplayNameFor(m => m.ETD_STR)</th>*@
                <th data-options="field:'ShipmentPeriod',width:100,align:'center'">@Html.DisplayNameFor(m => m.ShipmentPeriod)</th>
                @*<th data-options="field:'ContainerSerial',width:120,align:'center'">@Html.DisplayNameFor(m => m.ContainerSerial)</th>*@
                <th data-options="field:'DeliveryBillSerial',width:120,align:'center'">@Html.DisplayNameFor(m => m.DeliveryBillSerial)</th>
                @*<th data-options="field:'DestinationHarborKey',width:250,align:'center'">@Html.DisplayNameFor(m => m.DestinationHarborKey)</th>*@
                <th data-options="field:'OperatorPersonName',width:80,align:'center'">@Html.DisplayNameFor(m => m.OperatorPersonName)</th>
                @*<th data-options="field:'Payment',width:120,align:'center'">@Html.DisplayNameFor(m => m.Payment)</th>*@
                <th data-options="field:'PaymentTotal',width:80,align:'center'">@Html.DisplayNameFor(m => m.PaymentTotal)</th>
                @*<th data-options="field:'ImportDeposite',width:120,align:'center'">@Html.DisplayNameFor(m => m.ImportDeposite)</th>
                    <th data-options="field:'ImportBalancedPayment',width:120,align:'center'">@Html.DisplayNameFor(m => m.ImportBalancedPayment)</th>*@
                <th data-options="field:'ContractStatus',width:80,align:'center',formatter:func_contractStatus_formatter">@Html.DisplayNameFor(m => m.ContractStatus)</th>
                <th data-options="field:'Caozuo',width:80,align:'center',formatter:func_operation_formatter">操作</th>
            </tr>
        </thead>
    </table>
</div>

@section scripts{

    <script src="~/Scripts/datagrid-formatter.js"></script>
    <script type="text/javascript" src="~/Scripts/datagrid-detailview.js"></script>
    <script>
        $(function () {
            $('button.new_order').eq(0).click(function () {
                parent.addMainTab($(this).text(), '/' + Area + '/' + Controller + '/Add', true);
            });

            $('button.new_order').eq(1).click(function () {
                parent.addMainTab($(this).text(), '/Sales/SalesByInventories/Add', true);
            });

            $('button.new_order').eq(2).click(function () {
                parent.addMainTab($(this).text(), '/Sales/SalesByFutures/Add', true);
            });

            $('#theseach_but').click(function () {

            });

        });
    </script>
}