@model YuShang.ERP.Entities.Sale.SaleContract
@{
    ViewBag.Title = "现货销售还价";
}
<form id="add_sale_bargin_form" method="post" action="/@ViewContext.RouteData.Values["Area"].ToString()/@ViewContext.RouteData.Values["Controller"].ToString()/@ViewContext.RouteData.Values["Action"].ToString()">
    <div class="orders_list">
        <div class="right_content_top bgc1">
            <span class="default ml20">客户</span>@Html.TextBoxFor(m => m.SaleClientName, new { @readonly = "readonly", @class = "w120" })
            <span class="default">@Html.Label("SaleContractKey")</span>@Html.TextBoxFor(m => m.SaleContractKey, new { @readonly = "readonly", @class = "w120" })
            <span class="default">@Html.Label("SaleCreateTime")</span>
            <span class="eta_in">@Html.TextBoxFor(m => m.SaleCreateTime, new { @readonly = "readonly", @style = "width:98%;" })</span>
            <input type="hidden" name="OrderType" value="1" />
        </div>
        <div class="ddgl clearf calculate">

            <table id="picked_products_table" class="svs_table ml20 mr20" >
                <thead class="">
                    <tr>
                        <th class="check w20" width="20"></th>
                        <th class="w150" style="width:150px;">货品出厂编号</th>
                        <th class="w200" style="width:200px;">国家/厂号/货品名/品牌</th>
                        <th class="w150" style="width:150px;">规格</th>
                        <th class="w100" style="width:100px;">包装</th>
                        <th class="w100" style="width:100px;">件数</th>
                        <th class="w100" style="width:100px;">入仓吨数</th>
                        <th class="w100" style="width:100px;">销售数量</th>
                        <th class="w100" style="width:100px;">销售吨重</th>
                        <th class="w100" style="width:100px;">销售单价</th>
                        <th class="w100" style="width:100px;">货币</th>
                        <th class="w100" style="width:100px;">货款小计</th>
                        <th class="w100" style="width:100px;">还价</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.SaleProducts.Count; i++)
                    {
                        <tr>
                            <td class="check" style="width:20px;">@(i + 1)</td>
                            <td style="width:100px;">@Model.SaleProducts.ElementAt(i).ProductKey</td>
                            <td style="width:200px;">@Model.SaleProducts.ElementAt(i).StockItem.ProductItem.ProductName</td>
                            <td style="width:50px;">@Model.SaleProducts.ElementAt(i).StockItem.ProductItem.Product.Specification</td>
                            <td style="width:50px;">@Model.SaleProducts.ElementAt(i).StockItem.ProductItem.Product.Packing</td>
                            <td style="width:50px;">@Model.SaleProducts.ElementAt(i).StockItem.Quantity</td>
                            <td style="width:50px;">@Model.SaleProducts.ElementAt(i).StockItem.StockWeight</td>
                            <td style="width:100px;">
                                @Model.SaleProducts.ElementAt(i).Quantity
                            </td>
                            <td style="width:100px;">
                                @Model.SaleProducts.ElementAt(i).Weight
                            </td>
                            <td style="width:100px;">
                                @Model.SaleProducts.ElementAt(i).Weight
                            </td>
                            <td style="width:100px;">
                                @Model.SaleProducts.ElementAt(i).Currency
                            </td>
                            <td style="width:100px;">@Model.SaleProducts.ElementAt(i).SubTotal</td>
                            <td style="width:100px;">
                                <input type="hidden" name="SaleContractId" value="@Model.SaleContractId" />
                                <input type="hidden" name="BargainItems[@i].SaleProductItemId" value="@Model.SaleProducts.ElementAt(i).SaleProductItemId" />
                                <input type="text" style="width:100px;" name="BargainItems[@i].BargainUnitPrice" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div  class="table_info mt10">
                <p class="clearf ml20">
                    @*<span class="default">折扣率</span>
                        <input class="w115" name="DiscountRate" value="100" data-val-min="0" data-val-max="100" type="text" />
                        <span class="default">折扣额</span>
                        <input class="w115" name="DiscountAmount2" value="0" type="text">*@
                    <span class="default">折扣金额</span>
                    <input class="w115 compute_all_subtotal" name="@Model.DiscountAmount" readonly="readonly" value="0" type="text">
                    <span class="default">固定定金</span>
                    <input class="w115" name="SaleDepositeStatic" value="@Model.SaleClient.SaleDepositeStatic" type="text" readonly="readonly">
                </p>
                <p class="clearf ml20">
                    <span class="default mr100">@Html.Label("OperatorSysUser")： @Model.OperatorSysUser</span>
                </p>
            </div>
            <div  class="submit">
                <button class="default" type="submit">保存</button>
                <button class="default" type="reset">取消</button>
            </div>
        </div>
    </div>
</form>
@section scripts{
    <script type="text/javascript" src="~/Scripts/pick_product.js"></script>
    <script>
        $(function () {
            //提交
            var validateOptions = get_validate_rules_messages('#add_sale_bargin_form');
            $('#add_sale_bargin_form').validate({
                rules: validateOptions.rules,
                messages: validateOptions.messages,
                submitHandler: function (form) {
                    var exit = false;
                    $('#picked_products_table tbody tr').each(function (index, obj) {
                        $inputs = $(obj).find(':text');
                        for (i = 0; i < $inputs.length; i++) {
                            if ($inputs.eq(i).val() == '' || isNaN($inputs.eq(i).val())) {
                                exit = true;
                                var labelObj = $('#picked_products_table thead th:nth-child(' + ($inputs.eq(i).parent().index() + 1) + ')');
                                var labelText = labelObj.find('label').size() == 1 ? $.trim(labelObj.find('label').text()) : labelObj.text()
                                $.messager.alert('请正确填写' + labelText);
                                $inputs.eq(i).focus();
                                return false;
                            }
                        };
                        if (exit) {
                            return false;
                        }
                    });
                    if (exit) {
                        return false;
                    }
                    //发送请求
                    $.ajax({
                        url: $('#add_sale_bargin_form').prop('action'),
                        data: $(form).serialize(),
                        type: 'post',
                        cache: false,
                        beforeSend: function () {
                            $.messager.progress({
                                title: '',
                                msg: '处理中...'
                            });
                        },
                        success: function (resp) {
                            $.messager.progress('close');
                            var messages = GetModelStateErrors(resp);
                            if (messages.length > 0) {
                                $.messager.alert('提示', messages.join('<br/>'));
                            } else {
                                alert('操作成功');
                                parent.closeMainTab('还价');
                            }
                        }
                    });
                }
            });
        });
    </script>
}